* {
    margin: 0px;
    padding: 0px;
}

.nav-item {
    padding-right: 32px;
}

.navbar-brand img {
    width: 192px;
    height: 96px;
    padding-bottom: 12px;
}

.container {
    p {
        padding-bottom: 28px;
        padding-top: 8px;
    }
}

.row {
    .col-md-6 {
        h2 {
            padding-bottom: 20px;
        }
        p {
            padding: 0;
        }
    }
}